@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* Theme Customize */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F4A300;
  --color-secondary: #1C1C1C;
  --color-error: #E63946;
}

/* background: #F9F9F9; */

*{
   font-family: "Raleway", sans-serif;
}